.about {
  @extend %clearfix;
  color: $main-font-color;
  display: flex;
  position: relative;

  @include tablets{
    flex-direction: column;
  }

}

.about__left, .about__right {
  position: relative;
  padding-top: 20px;
  flex-basis: 50%;
  min-width: 50%;
}

.about__left {
  background: $white;
  padding-bottom: 135px;
  padding-right: 18px;
  padding-left: 15px;
  display: flex;

  @include laptop{
    flex-direction: column;
    align-items: center;
  }

  @include tablets{
    padding-bottom: 20px;
  }
  
  .about__triangles{
  	left: 0;
  }
}

.about__right {
  background: $beige;
  padding: 0 20px 30px 30px;

  .about__triangles{
  	right: 0;
  }

}

.about__triangles {
  position: absolute;
  bottom: 100%;

  @include tablets{
    display: none;
  }
}

.about__triangles_device_tablets{
  left: 0;
  display: none;

  @include tablets{
    display: block;
  }
}

.triangle {
  width: 100%;

  &_fill {

    &_white {
      fill: $white;
    }

    &_beige {
      fill: $beige;
    }

    &_bg {
      fill: $bg;
    }

  }
}

.down-arrow {
  bottom: 65px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(#fff, .55);
  font-size: 32px;
  z-index: 20;
  transition: $transition;
  
  &:hover{
    color: #fff;
  }
}

.title {
  font-family: 'bernier_regularregular', Arial, sans-serif;
  font-size: 63px;
  padding: 45px 80px;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  
  color: #373e42;
  text-transform: uppercase;

  $margin : 40px;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 88px;
    background: rgba(#373e42, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }

}

.about__section-title{
  align-self: flex-start;
  max-width: 50%;
  margin-top: -50px;

  @include laptop{
    align-self: center;
    max-width: 100%;
  }

  @include tablets{
    margin-top: 0;
  }
}

.works__section-title{
  @include phones{
    font-size: 58px;
  }

  &:before{
    top:85px;
  }

  &:after{
    top:85px;
  }
}

.about__section-description_inline{
  text-align: left;
  padding-top: 20px;
  max-width: 462px;
  flex:1;
  margin-left: 15px;
}

.user-about__photo{
  width: 100%;
  display: inline-block;
}

.user-about__pic{
  width: 100%;
  height: 100%;
  display: block;
}

.user-about__title{
  text-align: center;
}

.about-data{

  @include tablets{
    max-width: 550px;
    margin: 0 auto;
  }

}

.title__small{
  font-family: 'bernier_regularregular', Arial, sans-serif;
  font-size: 35px;
  padding: 25px 80px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  max-width: 290px+160px;

  $margin : 40px;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 46px;
    background: rgba($main-font-color, .2);
    width: 22px;
    height: 5px;

    @include tablets{
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}

.user-about__text{
  font-family: 'robotoregular', Arial, sans-serif;
  font-size: 16px;

  p{
    margin-bottom: 10px;
  }
}

.about-user-info__text{
  text-align: left;
  margin-bottom: 30px;
  font-family: 'robotoregular', Arial, sans-serif;
  font-size: 16px;

  @include tablets{
    text-align: center;
    max-width: 462px;
    margin: 0 auto 30px;
  }

}

.skills{
  text-align: left;

  @include tablets{
    text-align: center;
  }
}

.skills__item{
  margin-bottom: 20px;
}

.skill-section__list{
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;

  @include tablets{
    justify-content: center;
  }
}

.skills-section__item{
  width: 120px;
  margin-left: 20px;
}

.skill-section__title{
  font-size: 20px;
  margin-bottom: 7px;
}

.skill{
  position: relative;
}

.skill__circle{
  fill: none;
  stroke-width: 15;
}

.skill__name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00bea4;
  max-width: 65%;
  overflow: hidden;
}

.skill__circle-first{
  fill: none;
  stroke: #ccc;
}

.skill__circle-second{
  stroke: #00bea4;
  stroke-dasharray: 141.3 282.6;
}

.last{
  width: 100%;
  height: 925px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.map__marker{
  position: absolute;
  top:362px;
  right: 478px;

  @include laptop{
    right: 260px;
  }
}

.map__marker-pic{
  width: 30px;
  height: 40px;
}

.map__picture{
  height: 100%;
}

.information{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(#fcfcfc,.85);
  border-radius: 8px;
  color: rgb(55,62,66);
  min-width: 380px;
  overflow: hidden;

  @include tablets{
    top:40%;
    transform: translate(-50%, -40%);
  }

  @include phones{
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

}

.contacts-socials{
  padding: 0 40px 40px;
  color: rgba(55,62,66, .8);
}

.contacts-socials__list{
  text-align: left;
}

.contacts-socials__item{

  &:not(:first-child){
    margin-top: 20px;
  }
}

.contacts-socials__icon{
  font-size: 24px;
  color: #00bea4;
  margin-right: 8px;
}

.contacts-socials__text{
  display:inline-block;
}