.admin{
    color: #fff;
    min-height: 100%;
    margin-bottom: -1px;
    background-image: url('../img/admin_bg.jpg');
    background-size: cover;
    background-position: top center;
}

.admin-header{
    height: 100px;
    background-color: #00bfa5;
}

.admin-header__container{
    padding: 20px 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tabletssmall{
        flex-direction: column-reverse;
    }
}

.admin__title{
    font-size: 24px;
}

.admin__link{
    transition: $transition;
    color: rgba(#fff, .8);
    border-bottom: 1px dotted transparent;

    &:hover{
        border-bottom: 1px dotted rgba(#fff, .8);
    }
}

.admin-content{
    color: #455a64;
    text-align: left;

    &__container{
        height: 100%;
        
    }
}

.tabs__controls{
    display: flex;
    background: #eeebdf;

    @include tabletssmall{
        flex-direction: column;
    }
}

.tabs__controls-item{
    background: #eeebdf;
    border-right: 2px solid #fff;
    font-size: 18px;
    transition: $transition;

    &_active, &:hover{

        background: #fff;

        .tabs__controls-link{
            color: #00bfa5;
        }
    }

    @include tabletssmall{
        border-right: 0;

        &:not(:first-child){
            border-top: 2px solid #fff;
        }
    }
}

.tabs__controls-link{
    text-decoration: none;
    color: #949494;
    display: block;
    padding: 20px 60px;
    transition: $transition;
    text-align: center;
}

.tabs__list{
    padding: 40px 20px;
}

.tabs__item{
    display: none; 
}

.tabs__item_active{
    display: block;
}

.tabs__item-title{
    margin-bottom: 25px;
}

.form__subtitle{
    font-size: 22px;
    margin-bottom: 20px;
}

.form-skills{
    max-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

        @include tablets{
            max-height: initial;
        }
}

.form-skills-block{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-skills__item{
    margin-bottom: 20px;
}

.form-skill__name{
    width: 100px;
    margin-right: 20px;
}

.form-skill-section__list{
    margin-left: 40px;
}

.form-skill-section__title{
    font-size: 18px;
}

.form__input_admin{
    display: block;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 0.125rem solid transparent;
    transition: 0.5s;
    width: 300px;
    margin-bottom: 20px;

    &_skills{
        margin-bottom: 0;
        width: 60px;
        margin-right: 10px;
    }

    &.input-alert{
        border: 0.125rem solid red;
    }

    &:focus{
        outline: none;
        border: 2px solid #009688;
    }
}

.form__textarea_admin{
    height: 150px;
    resize: none;
    overflow: auto;
    width: 500px;
    max-width: 100%;
}

.form__btn-send[type='submit'], .form__btn-reset[type='reset']{
  padding: 15px;
  color: #fff;
  background: #00bfa5;
  border: none;
  transition: $transition;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  margin-right: 10px;

  &:hover{
    background: #009688;
  }
}

#blog .status, #upload .status, #skills .status{
    height: 1.2rem;
    color: #00bfa5;
    margin-bottom: 20px;
}

#file-select{
    margin-bottom: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.file_upload{
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    font-size: 17px;              
    height: 55px;                 
    line-height: 55px;
    position: relative;
    margin-bottom: 20px;

    &:hover{
        .file_upload-button{
            color:#009688;
        }
    }
}

.file_upload-img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.file_upload-button{
    display: block;                 
    height: 100%;
    color: #00bfa5; 
    text-align: center;
    transition: $transition;      
}
