.section-blog .container{
	@extend %clearfix;
}

.section-blog{
	position:relative;
	background: $bg;
	padding: 80px 0;
	color: #77868d;
	font-family: 'robotoregular', Arial, sans-serif;

	@include phones{
    	padding: 20px 0;
    }
}

.container{
	max-width: 1500px;
	padding: 0 20px;
}

.nav-blog{
	float: left;
	width: 30%;
	text-align: right;

	@include tablets{
    	display: none;
  	}
}

.nav-blog__list{
	display: inline-block;
	max-width: 271px;
	line-height: 26px;
}

.nav-blog__link{
	display: block;
	padding:5px 10px;
	border-right: 3px solid transparent;
	transition: $transition;
	margin-bottom: 5px;

	&_active{
		border-right: 3px solid #00bfa5;
		color:#00bfa5;
		font-family: 'robotobold', Arial, sans-serif;
	}

	&:hover{
		color:#00bfa5;
	}
}

.content-blog{
	float: right;
	width: 60%;
	text-align: left;
	margin-left: 10%;

	@include tablets{
    	float: none;
    	width: 100%;
    	margin-left: 0;
  	}
}

.content-blog__item{
	position: relative;

	&:not(:first-child){
		margin-top: 160px;

		@include phones{
	    	margin-top: 80px;
  		}
	}

	&:not(:first-child)::before{
		content:"";
		height: 5px;
		position: absolute;
		top: -80px;
		right: 290px;
		left: 0;
		background: rgba(#373e42, .07);

		@include laptop{
    		right: 0;
  		}

  		@include phones{
	    	top: -40px;
  		}
	}
}

.content-blog__item-main{
	padding-right: 60px;
	margin-bottom: 15px;

	@include laptop{
    	padding-right: 0;
  	}
}

.content-blog__item-title{
	font-family: 'bernier_regularregular', Arial, sans-serif;
	font-size: 35px;
	color: #455a64;
}

.content-blog__item-date, .content-blog__item-text{
	line-height: 26px;
}

.content-blog__item-date{
	padding: 20px 0;
	color: #00bfa5;
}

.content-blog__item-code{
	@extend %clearfix;
	display: flex;
}

.content-blog__item-code-list{
	font-family: monospace;
	text-align: right;
	flex: 1;
	padding: 18px 15px;
	background: #ccc;
}

.content-blog__item-code-data{
	font-family: monospace;
	flex: 40;
	font-size: 13px;
	line-height: 18px; 
	margin: 0;
	background: #cceecc;
}

.content-blog__item-code-data_green{
	color: green;
}