.fullscreen-menu{
    height: 100%;
    width: 100%;
    background-color: rgba(0,191,165,.9);
    padding-top: 80px;
    z-index: 30;
    position: fixed;
    display: none;
}

.fullscreen-menu__link{
	display: block;

	&:hover, &.active{

		.title__small_fullscreen_menu{
    		color: #fff;

    		&:after, &:before{
	      		background: #fff;
	    	} 
    	}    
	}
}

.header{
	background: $background;
	background-size: cover;
	background-position: center top;
	height: 600px;
  	overflow: hidden;
  	position: relative;
  	@extend %clearfix;

	&__input{
		background-color: rgba(#016672, .3);
		height: 100%;
	}

	&__blog{
		height: 400px;
	}
}

.blog__container{
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}

.pages__container{
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 30px;
}

.header-up{
	@extend %clearfix;
	padding-top: 23px;
}

.header-up__right{
	float: right;
}

.header-up__left{
	float: left;
}

.socials_place_header{
	margin-bottom: 20px;

	.socials__item{
		&:not(:first-child){
			padding-left: 25px;
		}
	}
}
.socials__list_color_white{
	.socials__link{
	color: rgba(#fff, .55);
	font-size: 28px;
		&:hover{
			color: #fff;
		}
	}
}

.burger-menu{
	width: 35px;
	height: 35px;

	&__link{
	opacity: .6;
	font-size: 46px;
	position: relative;
	display: block;
    height: 100%;
    z-index: 50;
	transition: $transition;
		&:hover{
			opacity: 1;
		}

		&::before{
	    	content: "";
		    display: block;
		    position: absolute;
		    top: 0;
		    height: 5px;
		    width: 100%;
		    background-color: #fff;
		    border-radius: 10px;
		    transform-origin: center center;
		    transition: $transition;
	    }

	    &::after{
	    	content: "";
		    display: block;
		    position: absolute;
		    bottom: 0;
		    height: 5px;
		    width: 100%;
		    background-color: #fff;
		    border-radius: 10px;
		    transform-origin: center center;
		    transition: $transition;
	    }
	}
}

.burger-menu__link.active{

	&::before{
	    transform: translateY(-50%) rotate(-45deg);
	    top: 50%;
	}

	&::after{
		transform: translateY(50%) rotate(45deg);
    	bottom: 50%;
	}

	.burger-menu__link-center{
		opacity: 0;
	}
}

.burger-menu__link-center{
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transform-origin: center center;
    transition: $transition;
}

.header-without-triangles{
	height: 360px;
	position: relative;
}

.header__title{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
  	width: 100%;
}

.header__title-img{
  	display: inline-block;

  	@include laptop{
  		width: 95%;
  	}

  	@include tablets{
  		display: none;
  	}
}

.header__user{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	text-align: center;
  	width: 100%;
}

.header__name{
	color: #fff;
	position: relative;
}

.header__name-shade{
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	left: 0;
	right: 0;
}

.header__name-shade-pic{
	fill: rgba(#fff, .15);
}

.subtitle{
	font-family: 'bernier_regularregular', Arial, sans-serif;
	font-size: 63px;
	position: relative;
	display: inline-block;

	&:before{
		content:"";
		width: 17px;
		height: 5px;
		background: rgba(#fff, .25);
		position: absolute;
		top: 50%;
		left: -37px;
		transform: translateY(-50%);
	}

	&:after{
		content:"";
		width: 17px;
		height: 5px;
		background: rgba(#fff, .25);
		position: absolute;
		top: 50%;
		right: -37px;
		transform: translateY(-50%);
	}
}

.user__photo_small{
	width: 140px;
	height: 140px;
}

.user__name_color_white{
	color:#fff;
	font-family: 'roboto_medium', Arial, sans-serif;
	font-size: 35px;
	padding-top: 10px;
}

.user__description_color_white{
	color: rgba(#fff, .8);
	line-height: .5;
}