.content{
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	overflow: hidden;
}

.content__index{
	background-color: rgba(252,252,252,0.65);
	padding-bottom: 35px;
}

.user{
	margin-bottom: 25px;
}

.user__author{
	padding: 40px 66px 0;
}

.user__photo{
	width: 144px;
	height: 144px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

.user__pic{
	width: 100%;
}

.user__name{
	color: rgb(69, 90, 100);
	font-size: 28px;
	margin-bottom: 5px;
}

.user__description{
	color: rgb(102, 119, 127);
	font-size: 16px;
	font-family: 'roboto_regular', Arial, sans-serif;
}

.socials__item{
	display: inline-block;
	padding-left: 25px;
}

.socials__item:first-child{
	padding-left: 0;
}

.socials__link{
	font-size: 24px;
	transition: $transition;
}

.socials__list_color_green{
	.socials__link{
		color: #00bfa5;

		&:hover{
			color: #009688;
		}
	}
}

.nav__list::after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.nav__item{
	float: left;
	width: 30%;
	border-left: 1px solid rgba(252,252,252,.65);
}

.nav__item:first-child{
	border-left: none;
}

.nav__item-big{
	width: 40%;
}

.nav__link{
	display: block;
	padding: 11px 10px;
	background-color: rgba(#00bfa5, .65);
	color: #fff;
	font-size: 16px;
	transition: $transition;
}

.nav__link:hover{
	background-color: rgba(#009688, .65);
}

.authorization{
	position: absolute;
	right: 100px;
	top: 25px;
}

.authorization__link{
	display: block;
	padding: 10px 28px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	transition: $transition;
}

.authorization__link:hover{
	color: #00bfa5;
	background-color: #fff;
}

.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}

.copyright{
	padding-bottom: 20px;
	font-family: 'roboto_light', Arial, sans-serif;
	font-size: 16px;
	color: rgba(242, 243, 244, .8);
}