.works {
  @extend %clearfix;
  color: $main-font-color;
  position: relative;

}

.works__triangles {
  position: absolute;
  bottom: 100%;
  left: 0;
}

.works__content{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 525px;
  flex-wrap: wrap;
  overflow: hidden;
  @extend %clearfix;

  @include tablets{
    flex-wrap: nowrap;
    height: 120vh;
  }
}

.works__left{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;

  @include tablets{
    height: auto;
    width: auto;
    display: block;
    flex: 1;
  }
}

.works__technologies-desc{
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 80px;
  border-top: 1px solid #00bfa5;
  border-bottom: 1px solid #00bfa5;
  color: #00bfa5;
}

.slider__active{
  width: 50%;
  background: #eeebdf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;

  @include tablets{
    width: auto;
    padding: 30px 0;
    order: -10;
    height: auto;
    flex: 1;
    min-height: 45%;
  }
}

.slider__active-pic{
  max-height: 95%;
  width: 95%;
  max-width: 725px;

  @include tablets{
    max-height: 90%;
    width: auto;
    max-width: 95%;
  }
}

.works__link{
  padding: 30px 0;
}

.works__button{
  padding: 10px 20px;
  display: inline-block;
  background: #00bfa5;
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: $transition;

  &:hover{
    background: #fff;
    color: #00bfa5;
    border: 1px solid #00bfa5;
  }
}

.fa-link{
  padding-right: 5px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.works__button-text{
  display: inline-block;
  vertical-align: middle;
}

.slider__list{
  flex: 1;
  display: flex;
  width: 50%;
  height: 30%;

  @include tablets{
    width: auto;
  }
}

.slider__item{
  width: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slider__item-pic{
  max-height: 100%;
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.slider__link{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .3);
  transition: $transition;

  &:hover{
    background: rgba(#000, .5);
  }

  &_color_lighten{
    background: rgba(#000, .1);

      &:hover{
        background: rgba(#000, .4);
      }
  }

  &:hover{
    .slider__button{
      color: #fff;
    }
  }
}

.slider__button{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: rgba(#fff, .7);
  transition: $transition;

  @include phones{
    font-size: 64px;
    color: rgba(#fff, 1);
  }
}

.reviews-title{
  max-width: 550px;
}

.reviews{
  background: url('../img/reviews.jpg');
  background-size: cover;
  background-position: center center;

  @include tablets{
    height: auto;
    padding-bottom: 320px;
  }
}

.reviews_colourful{
  width: 100%;
  height: 100%; 
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 32%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 32%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 32%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.reviews__block{
  color: #455a64;
  font-family: 'robotoregular', Arial, sans-serif;
  padding-top: 55px;
  margin-bottom: 10px;
}

.reviews__list{
  display: flex;
  justify-content: center;

  @include tabletssmall{
    flex-direction: column;
    align-items: center;
  }
}

.reviews__item{
  width: 400px;
  padding: 10px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;

  @include tabletssmall{
    width: auto;
    max-width: 400px;
    margin-bottom: 60px;
  }
}

.reviews__item-quote{
  position: absolute;
  top: -55px;
  color: rgba(#455a64, .2);
  font-size: 36px;
}

.reviews__item-text{
  margin-bottom: 20px;
}

.reviews__item-person{
  margin-top: auto;
}

.reviews-person__photo, .reviews__item-person-block{
  display: inline-block;
  vertical-align: middle;
}

.reviews-person__photo{
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}

.reviews__item-person-block{
  color: #009688;
  margin-left: 20px;

  .reviews__item-person-title{
    font-family: 'robotobold', Arial, sans-serif;
  }
}

.write-me{
  background: url('../img/write_me.jpg');
  background-size: inherit;
  background-position: center center;
  border-radius: 0.5rem;
  color: #373e42;
  width: 26rem;
  margin: 0 auto;
  overflow: hidden;
}

.write-me_colourful{
  background: rgba(#fcfcfc, .15);
}

.reviews__form-inputs{
  padding: 0 20px;
}

.reviews__form-element{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid transparent;

  &:focus{
    outline: none;
    border: 2px solid #009688;
  }
}

.reviews__form-textarea{
  height: 150px;
  resize: none;
}

.reviews__form-button{
  display: inline-block;
  width: 49.7%;
  padding: 15px;
  color: #fff;
  background: #00bfa5;
  border: none;
  transition: $transition;
  cursor: pointer;

  &:hover{
    background: #009688;
  }
}

.reviews__form-button-reset{
  margin-left: -4px;
  border-left: 1px solid rgba(252,252,252,0.9);
}

.up-arrow {
  bottom: 125px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(#fff, .55);
  font-size: 32px;
  z-index: 20;
  transition: $transition;
  
  &:hover{
    color: #fff;
  }

  @include tablets{
    bottom: 250px;
  }
}