extends ../_template

block variables
	- var title = 'Works page'

block content
	.preloader
		.preloader__spinner
			.preloader__animation
			.preloader__percents
				|0%
	.wrapper_with_footer
		.fullscreen-menu
			ul.fullscreen-menu__list
				li.fullscreen-menu__item
					a.fullscreen-menu__link.active(href='works.html')
						+title__small('Мои работы', 'title__small_fullscreen_menu')
				li.fullscreen-menu__item
					a.fullscreen-menu__link(href='about.html')
						+title__small('Обо мне', 'title__small_fullscreen_menu')
				li.fullscreen-menu__item
					a.fullscreen-menu__link(href='blog.html')
						+title__small('Блог', 'title__small_fullscreen_menu')
				li.fullscreen-menu__item
					a.fullscreen-menu__link(href='index.html')
						+title__small('Авторизация', 'title__small_fullscreen_menu')
		.header
			.header__input
				.pages__container
					.header-up
						.header-up__left
							.socials.socials_place_header
								ul.socials__list.socials__list_color_white
									li.socials__item
										a.socials__link(href='https://vk.com/julia_yakutik', target='_blank')
											i.fa.fa-vk(aria-hidden='true')
									li.socials__item
										a.socials__link(href='https://github.com/YuliyaYakutsik', target='_blank')
											i.fa.fa-github-alt(aria-hidden='true')
									li.socials__item
										a.socials__link(href='https://linkedin.com', target='_blank')
											i.fa.fa-linkedin(aria-hidden='true')
						.header-up__right
							.burger-menu
								a.burger-menu__link(href='#')
									span.burger-menu__link-center
				a(href="#").down-arrow
					i.fa.fa-chevron-down(aria-hidden='true')
				.header-without-triangles
					.header__title
						img(src="assets/img/portfolio-header.png", alt="").header__title-img
						.user.user_position_header
							.user__photo.user__photo_small
								img.user__pic(src='assets/img/ava.jpg', alt='Ava')
							.user__name.user__name_color_white Юлия Якутик
							.user__description.user__description_color_white Личный сайт веб-разработчика
		section.section.works.slider
			+title('Мои работы', 'works-header.png', 'works__section-title')
			svg(
				viewbox="0 0 1000 90"
				preserveAspectRatio="none"
				class="triangle triangle_fill_bg works__triangles")
				polygon(points="0,0 0,90 500.8,90")
				polygon(points="1000,90 500,90 1000,0")
			.works__content
				.works__left
					.works__sites
						ul.works__list
							li.works__item
								+title__small('Сайт школы онлайн образования', 'works__section-title_small')
								.workds__techologies
									.works__technologies-desc HTML, CSS, JavaScript
								.works__link
									a.works__button(href='#')
										i.fa.fa-link(aria-hidden='true') 
										.works__button-text Посмотреть сайт
				.slider__active
					img(src='assets/img/1.png').slider__active-pic
				ul.slider__list
					li.slider__item
						img.slider__item-pic(src='assets/img/work-1.png')
						a.slider__link(href='#').slider__link_color_lighten
							.slider__button
								i.fa.fa-chevron-down(aria-hidden='true')
					li.slider__item
						img.slider__item-pic(src='assets/img/work-2.png')
						a.slider__link(href='#')
							.slider__button
								i.fa.fa-chevron-up(aria-hidden='true')
		+title('Что обо мне говорят', 'about-header.png', 'reviews-title')
		section.section.last.reviews
			a(href="#document").up-arrow
					i.fa.fa-chevron-up(aria-hidden='true')
			.reviews__background
				img.reviews__background-pic(src='assets/img/reviews.jpg')
			.reviews__block
				ul.reviews__list
					li.reviews__item
						i.fa.fa-quote-left(aria-hidden='true').reviews__item-quote
						.reviews__item-text 
							|Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.reviews__item-person
							.reviews-person__photo
								img.reviews-person__photo-pic(src='assets/img/teacher.jpg')
							.reviews__item-person-block
								.reviews__item-person-title Ковальчук Дмитрий
								.reviews__item-person-role Основатель Loftchool
					li.reviews__item
						i.fa.fa-quote-left(aria-hidden='true').reviews__item-quote
						.reviews__item-text 
							|Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
						.reviews__item-person
							.reviews-person__photo
								img.reviews-person__photo-pic(src='assets/img/teacher2.jpg')
							.reviews__item-person-block
								.reviews__item-person-title Сабанцев Владимир
								.reviews__item-person-role Преподаватель
			.write-me.blur
				.write-me__blur-wrapper
					.write-me__blur
					.write-me__form-wrapper
						+title__small('Связаться со мной', 'about__section-title_small')
						form.reviews__form(method="POST")
							.reviews__form-inputs
								input.reviews__form-input.reviews__form-element(name="name", type="text", placeholder='Имя')
								input.reviews__form-input.reviews__form-element(name="email", type="email", placeholder='Email')
								textarea.reviews__form-textarea.reviews__form-element(name="textarea", placeholder='Ваше сообщение')
							.reviews__form-buttons
								input.reviews__form-button(name="", type="submit", value="Отправить")
								input.reviews__form-button.reviews__form-button-reset(name="", type="reset" value="Очистить")
					.write-me__form-wrapper.write-me__form-wrapper_none
						+title__small('Связаться со мной', 'about__section-title_small')
						form.reviews__form(method="POST")
							.reviews__form-inputs
								input.reviews__form-input.reviews__form-element(name="name", type="text", placeholder='Имя')
								input.reviews__form-input.reviews__form-element(name="email", type="email", placeholder='Email')
								textarea.reviews__form-textarea.reviews__form-element(name="textarea", placeholder='Ваше сообщение')
							.reviews__form-buttons
								input.reviews__form-button(name="", type="submit", value="Отправить")
								input.reviews__form-button.reviews__form-button-reset(name="", type="reset" value="Очистить")
			footer.footer_margin_top
				.footer-up
					.footer-up__left
						ul.footer-up__list
							li.footer-up__item
								a.footer-up__link.footer-up__link_active(href="works.html")
									|Мои работы
							li.footer-up__item
								a.footer-up__link(href="about.html")
									|Обо мне
							li.footer-up__item
								a.footer-up__link(href="blog.html")
									|Блог
							li.footer-up__item
								a.footer-up__link(href="index.html")
									|Авторизация
					.footer-up__right
						.socials.socials_place_footer
							ul.socials__list.socials__list_border_circle
								li.socials__item
									a.socials__link(href='https://vk.com/julia_yakutik', target='_blank')
										i.fa.fa-vk(aria-hidden='true')
								li.socials__item
									a.socials__link(href='https://github.com/YuliyaYakutsik', target='_blank')
										i.fa.fa-github-alt(aria-hidden='true')
								li.socials__item
									a.socials__link(href='https://linkedin.com', target='_blank')
										i.fa.fa-linkedin(aria-hidden='true')
				.footer-down
					.footer-down__left
						.footer__description
							|Я веб-разработчик из Минска и этот сайт сделала в рамках обучения в Школе онлайн-образования Loftschool.
					.footer-down__right
						.copyright.copyright_position_left
							i.fa.fa-copyright(aria-hidden='true')
							|  Юлия Якутик | Создано с любовью в Loftschool | 2017